# <center>Data Cleaning and Pre-Processing</center>

---

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd

## Loding the Dataset

In [2]:
#loading the dataset
df = pd.read_csv('./Dataset/googleplaystore.csv')

---

## Glance of the dataset

In [3]:
#viewing the first few rowd of data
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

## Columns in the dataset

In [4]:
#checking the columns in our dataset
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

| Column | What columns denotes |
|:--|:--|
| Apps | Name of the application. |
| Category | Which category it belogs to (eg ARTS,TOOLS,etc)|
| Rating | Ratings given by users |
| Reviews | Count of reviews given by users |
| Size | Size of the Application |
| Installs | Total No of Installs of the App |
| Type | Denotes whether Free or Paid |
| Price | Price of the App |
| Content Rating | Denotes whether its for children or adults, etc |
| Genres | Denotes whether app is for art, connectivity, etc |
| Last Updated | The date app was last updated. |
| Current Ver | Current Version of the App |
| Android Ver | The android versions it supports |

### Data-types of the columns

In [5]:
df.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

We note that even fields like Size, Installs, etc are of object type. Because they are kept as string, so we make note to transform these fields into integer or float format appropriately.

Now that we have quite some idea about our dataset, we start the cleaning phase of our data.

---

## Checking for any erroneous data in columns

In this step we are looking at the column values and check if there are any suspicious values present.

In [6]:
#Since App name can be anything we exclude that column

df.Category.unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

We notice the value '1.9' in the ouput which is absurd; so we investigate more on rows containing that value.

In [7]:
df[df.Category=='1.9']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

   In the above output from the values in respective column we can infer that the values in this particular has been messed up. The columns 'Rating', 'Size', 'Price',etc seems to have all exchanged, rendering the row erroneous.
   <br>&emsp; We decide to completely drop this row from the dataset.

In [8]:

df = df[df.Category!='1.9']
df[df.Category=='1.9']

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

Thus the erroneous row has been removed. Then we check for other columns also. And we find out that all other columns have appropriate fields.

### Checking for abnormal values like Null values, less than 0, etc.

In [9]:
df.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In the above output, its no concern for the rating to be Null as many Apps are not rated. The Type can be undefined as well. However we will put Current Ver to 1.0.0 for undefined values. The Android Ver too can be NaN. These NaN values can also be omitted during EDA, and also their other fields might be usable, so we dont drop these rows.

In [10]:
df.loc[df['Current Ver'].isna(),('Current Ver')] = '1.0.0'
# df['Current ver'] = df['Current Ver'].fillna( df['Current Ver'].median())
df['Current Ver'].isna().sum()

0

So now we start to convert the column data into easily usable data-types.

---

## Converting the Column data-types to appropriate and usable format

The data-types for the columns of our dataset are as:

In [11]:
df.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

Here we see that most of the data are in object format, or specifically they are in string format. We have to convert them into numeric format for easy processing during EDA.

In [12]:
#converting 'Reviews' column into numeric format.
df['Reviews']= pd.to_numeric(df['Reviews'], errors='coerce')

#removing the '+' that indicates more than from 'Installs' columns. and converting the column to numeric form
#  we proceed with understanding that the number of installs are more than the given value
#  however the difference is negligible
df['Installs']=df['Installs'].str.replace('+','',regex=True).replace(',','',regex=True)
df['Installs']= pd.to_numeric(df['Installs'], errors='coerce')

#converting the price to numeric form
#  and also name of the column to denote the '$' value
df['Price'] = df['Price'].str.replace('$','',regex=True)
df['Price'] = pd.to_numeric( df['Price'], errors='coerce')
df.rename(columns={'Price':'Price($)', 'Installs':'Installs+'}, inplace=True)

#setting the date-time to appropriate format
df['Last Updated'] = pd.to_datetime(df['Last Updated'])

We need to pay little bit extra attention in Size column because there are 3 types of values: expressed in Kbs, expressed in Mbs and 'varies with device'. We change the kbs to Mbs and put the value of 'varies with device' as -1, for ease of visualization.

In [13]:
#we copy the value 'kbs' into new column temp, with 'k' removed
df['temp']= df['Size'].apply( lambda x: x.replace('k','') if x.endswith('k') else '0')
#then convert that string format into numeric format
df['temp'] = pd.to_numeric( df.temp, errors='coerce')
#then divide the values by 1024 to convert Kbs into Mbs
df['temp'] = df['temp'].apply( lambda x: x/1024)

#replace the kbs values as zero in Size column
df['Size'] = df.Size.apply( lambda x: '0' if x.endswith('k') else x)
#we replace 'varies with device' into '-1'
df['Size'] = df.Size.apply( lambda x: '-1' if x.endswith('Varies with device') else x)
#then replace the 'M' also with '' for Mbs values
df['Size'] = df.Size.replace('M','',regex=True)

#then convert the Size column to numeric fomat
df['Size'] = pd.to_numeric( df.Size, errors='coerce')

#then assign the Size column appropriately; note that Size has values 0 for kbs while temp has 0 values for Mbs and varies-with-device
df['Size']= df['Size'] + df['temp']

#then we drop the temp column
df.drop('temp', axis=1, inplace=True)

## Checking for the duplicate rows

Duplicate rows are checked based upon their app names as it is the only key we can use for the purpose.

In [14]:
df.App.value_counts()

ROBLOX                                                9
CBS Sports App - Scores, News, Stats & Watch Live     8
ESPN                                                  7
Duolingo: Learn Languages Free                        7
Candy Crush Saga                                      7
                                                     ..
Meet U - Get Friends for Snapchat, Kik & Instagram    1
U-Report                                              1
U of I Community Credit Union                         1
Waiting For U Launcher Theme                          1
iHoroscope - 2018 Daily Horoscope & Astrology         1
Name: App, Length: 9659, dtype: int64

So as we can see there are multiple copies of many apps( shown on the top portion of the above output). Foe example we see the copies of "ESPN" app.

In [15]:
df[ df.App == 'ESPN']

,App,Category,Rating,Reviews,Size,Installs+,Type,Price($),Content Rating,Genres,Last Updated,Current Ver,Android Ver
2959,ESPN,SPORTS,4.2,521138,-1.0,10000000,Free,0.0,Everyone 10+,Sports,2018-07-19,Varies with device,5.0 and up
3010,ESPN,SPORTS,4.2,521138,-1.0,10000000,Free,0.0,Everyone 10+,Sports,2018-07-19,Varies with device,5.0 and up
3018,ESPN,SPORTS,4.2,521138,-1.0,10000000,Free,0.0,Everyone 10+,Sports,2018-07-19,Varies with device,5.0 and up
3048,ESPN,SPORTS,4.2,521140,-1.0,10000000,Free,0.0,Everyone 10+,Sports,2018-07-19,Varies with device,5.0 and up
3060,ESPN,SPORTS,4.2,521140,-1.0,10000000,Free,0.0,Everyone 10+,Sports,2018-07-19,Varies with device,5.0 and up
3072,ESPN,SPORTS,4.2,521140,-1.0,10000000,Free,0.0,Everyone 10+,Sports,2018-07-19,Varies with device,5.0 and up
4069,ESPN,SPORTS,4.2,521081,-1.0,10000000,Free,0.0,Everyone 10+,Sports,2018-07-19,Varies with device,5.0 and up

So we remove these copies based upon the number of reviews, assuming that the copy with most number of reviews must be the latest one.

In [16]:
df= df.loc[df.groupby(['App'])['Reviews'].idxmax()]
df.App.value_counts()

"i DT" Fútbol. Todos Somos Técnicos.                 1
My Talking Tom                                       1
My Teacher - Classroom Play                          1
My Telcel                                            1
My Tele2                                             1
                                                    ..
Delivery trough - delivery trough delivery trough    1
Delivery yogi.                                       1
Delta Dental                                         1
Denis Brogniart - AH !                               1
🔥 Football Wallpapers 4K | Full HD Backgrounds 😍     1
Name: App, Length: 9659, dtype: int64

Thus we have removed the duplicates.

---

## A Final Look on the dataset columns

In [17]:
def quickShow(dataframe):
  print("\nShape of Dataframe: ", dataframe.shape,"\n")
  df_dtypes = dataframe.dtypes
  df_nulls = dataframe.isnull().sum()
  quick_glance = pd.concat( [df_dtypes.to_frame(name='Data Type'), df_nulls.to_frame(name='No of Nulls')], axis=1)
  print(quick_glance)
quickShow(df)

Shape of Dataframe:  (9659, 13)

                     Data Type  No of Nulls
App                     object            0
Category                object            0
Rating                 float64         1463
Reviews                  int64            0
Size                   float64            0
Installs+                int64            0
Type                    object            1
Price($)               float64            0
Content Rating          object            0
Genres                  object            0
Last Updated    datetime64[ns]            0
Current Ver             object            0
Android Ver             object            2

Thus we have cleaned our dataset.

## Saving the cleaned dataset as a csv file

In [18]:
df.to_csv("cleaned_playstore_apps.csv", index=False)